body {
    background-color: #F8F8F8;
}
.block {
    background-color: #fff;
    width: 400px;
    margin: 100px auto;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    font-family: JAVATA;
    color: #18A0FB;
    font-size: 2em;
    margin-top: 10px;
}
b{
    color: #003465;
    font-size: 0.7em;
}
h3 {
    color: #292929;
    font-family: Arial;
    font-weight: bold;
}
label {
    color: #1d1d1d;
    font-family: Arial;
    font-size: 0.9em;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding-left: 20px;
}
button {
    width: 100%;
    background-color: #003465;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 530;
}
a {
    color: #18A0FB;
    text-decoration: none;
}
p{
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}
#home{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: #e1e1e1;
    background-image: url(../../img/arrow-left.png);
    background-position: center;
    background-repeat: no-repeat;
}